*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

html{
    scroll-behavior: smooth;
}

.casa #divider1,
.team #divider1,
.Testimonial #divider1,
#text44 #divider1{
    margin-left:600px ;
}

/*nav-start */


nav{
background-color: rgba(59, 79, 152, 0.8);
height: 100px;
font-family: sans-serif;
color: white;
display: flex;
justify-content: space-around;
width: 100%;
gap: 10px;
position: sticky;
top: 0;
z-index: 999;
}
#Seo{
    font-weight:800;
    width: 100px;
    margin-top:25px ;
   
}
#content-nav{
  display: flex;
  justify-content: center;
  
}
nav img{
    width: 30px;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bolder;
    font-size: small;
    

}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
nav a:hover{
    cursor: pointer;
    color: #9da7cb;
}
nav button{
    width: 190px;
    height: 45px;
    border: solid 2px white;
    background-color: #344685d8;
    color: white;
    font-weight: bold;
    margin-left: 20px;
   
}
nav button:hover{
    background-color: white;
    color: #3b4f98;
    cursor: pointer;
    transition:  0.3s ease-in-out;
}
/*nav-end */

/*header-start */
header{
   height: 540px;
   display:grid;
   grid-template-columns: 1fr 1fr; 
   align-items: center; 
   gap: 20px; 
   grid-column: 1;
   color: white;
  background-color: #6384ff;

}
header img{
   width: 550px;
   margin-top: 80px;
   grid-column: 2;
   margin-left: 40px;
   position: relative;
  justify-self: center;
}
.text-contenar{
    position: relative;
    top: -250px;
    left: 150px;

}

.static-text{
   position: relative;
   top: -50px;
   left: 0px;
   font-size: 40px;
    
}
/*header-js */
#typing{
    font-size: 40px;
    display: inline;
    width: 30ch;
    animation: blink 0.9s step-end infinite;
    border-right: 4px solid white;
}
/*header-js-end */
/*header-animaion */
@keyframes blink {
    from, to {
        border-color: transparent;
    }

    50% {
            border-color: white;
        }
    }

    @keyframes blink {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}
/*header-animaion-end */
/*header-end */

/*section-start */

.sectionpar h1{
text-align: center;
font-size: 40px;
margin-top: 60px;
}
.search{
  width: 100%;
    height: auto;
}
.sectionpar #divider1{
    display: inline-block;
  width: 150px;
  height: 3px;
  background:#1c76b9;
  margin-left: 700px;
}
 .serviceicon{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows:repeat(3, 200px) ;
    gap: 10px;
    margin-top: 80px;
    line-height: 60px;
    margin-left: 200px;
 }
.service1{
    text-align: center;
    width: 300px;
    color: #32325c;
    font-family: sans-serif;
    font-weight:100;  
    font-size: large;
    padding-left: 40px;
}
.service1 p{
    color: #2a2a2a;
    text-align: justify;
    line-height: 40px;
}
/*section-end */
/*About search-start */
.aboutsearch{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: start;
    margin-left:100px ;
    font-weight: 100;

}
.aboutsearch img{
  width: 440px;
}
.aboutsearch button{
    color: #3b4f98;
    width: 100px;
    height: 40px;
    border: #1c76b9 solid 1px;
    background-color: white;
}
.aboutsearch button:hover{
    color: white;
    background-color: #1c76b9;
    
}
.aboutsearch h1{
    font-size: 40px;
    margin-bottom: 10px;

}
.textsearch{
   margin-left: 100px;
   width: 670px;
}
.textsearch p{
   margin-bottom: 60px;
   line-height: 40px;
 
}
/*About search-end */
/*casas studies-start*/
.casasStudies{
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 170px;
}

.cover{
    color: white;
    font-family: sans-serif;
    
    position: absolute;
    top:100% ;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: width 0.5s ease; 
    cursor: pointer;  
      display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    flex-wrap: wrap;
    
  
}
.cover h4{
    color: #6384f3;
    font-size:20px ;
}
.cover h1{
    font-size: small;
}
.boxs{
    overflow: hidden;
    position: relative;
    width: 370px;
    height: 280px;
   
}
.boxs:hover .cover{
    top:0 ;
}
.cover::before{
    content: "";
    position: absolute;
    top: 5%;
    left: 50%;
    width: 40%;
    height: 2px;
    background-color: white;
    transform: translateX(-50%);
    transition: top 1s ease;
}
.cover::after {
  content: "";
  position: absolute;
  bottom: 5%;           
  left: 50%;
  width: 40%;
  height: 2px;
  background: white;
  transition: bottom 1s ease;
  transform: translateX(-50%);

}
.boxs:hover .cover::before {
top: 30%;
}

.boxs:hover .cover::after{ 
  bottom: 25% ;
}
.casa{
    margin-top: 100px;
  
   width: 100%;
}
.casa h1{
    text-align: center;
    font-size: 50px;

}
#divider1{
    width: 230px;
    background-color: #1c76b9;
    height: 2px;
}
/*casas studies-end*/
/*pricingplans start*/
.PricingPlans{
    height: auto;
    width: 100%;
 

}
#text44{
    height: 150px;
    text-align: center;
    font-size: xx-large;
}
.plans{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  height: auto;
   
}
.Circle{
   background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 8px solid rgba(206, 206, 206, 0.5);
  position: absolute;
  bottom: -75px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: 600;
  z-index: 2;

}
.cards1,
.cards2,
.cards3 {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 40px;
  position: relative;
}
#yallow { 
    background-color: #fabc05;
 }
#blue   {
     background-color: #6384ff; 
    }
#green  {
     background-color: #3baa70;
     }

.cards1 { 
    border: 2px solid #fabc05;
 }
.cards2 {
     border: 2px solid #6384ff;
     }
.cards3 {
     border: 2px solid #3baa70; 
    }

.cards1 button {
     border: 2px solid #fabc05; 
    }
.cards2 button {
     border: 2px solid #6384ff; 
    }
.cards3 button {
     border: 2px solid #3baa70;
     }
.cards1 i{
    color: #fabc05;
}
.cards1 ul,
.cards2 ul,
.cards3 ul{
     list-style: none;
  margin-top: 100px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  box-sizing: border-box;
}
.cards2 i{
    color: #6384ff;
}

.cards3 i {
    color: #3baa70;
}
.title{
   position: relative;
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plans button{
  width: 175px;
  height: 50px;
  margin-top: 30px;
  font-size: large;
  color: rgb(100, 97, 97);
  cursor: pointer;
}
.plans .fa-xmark{
    color: rgb(55, 57, 58);
}
.plans h1{
     color: white;
  font-size: 28px;
    
}
.cards1:hover .Circle ,
.cards1:hover button{
background-color: #fabc05;
color: white;
transition:  0.3s ease-in-out;
}
.cards2:hover .Circle ,
.cards2:hover button{
    background-color: #6384ff;
    color: white;
    transition:  0.3s ease-in-out;
    
}
.cards3:hover .Circle ,
.cards3:hover button{
    background-color: #3baa70;
    color: white;
    transition:  0.3s ease-in-out;
}

.cards3::before,
.cards2::before,
.cards1::before {
    content: "";
    width: 190px;
    height: 190px;
    position: absolute;
   transform: translateX(-50%);
   top: 145px;
   left: 280px;
    background-color: white;
    border-radius: 100px;
    z-index: 1;
    
}
.cards3::after,
.cards2::after,
.cards1::after{
    content: "";
    width: 185px;
    height: 180px;
    background-color:white;
    position: absolute;
  left: -1px;
    top: 160px;
    border-radius: 100px;
    
}
/*pricingplans-end*/
.members {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr); 
  gap: 20px;
  padding: 20px;
}

.hovercard {
      width:fit-content;
 
  height: auto;
  border-radius: 5px;
  text-align: center;
  line-height: 60px;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

.hovercard:hover {
  box-shadow: 0 0 8px 1px #00000027;
  cursor: pointer;
}

.hovercard h1 {
  margin: 0;
}

.hovercard span {
  color: #32325c;
}

.text{
    text-align: center;
    padding: 60px;
    font-size: x-large;
}
.text #divider1{
 margin-bottom: 60px;
}


.client {
  width: 100%;
  max-width: 1000px;
  overflow-x: hidden;
  padding: 40px 20px;
  margin: 0 auto;
}

.client::-webkit-scrollbar {
  display: none;
}

.transtion {
  display: flex;
  align-items: center;
  gap: 30px;
  animation: movebox 4s infinite alternate;
}

@keyframes movebox {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}


.Testimonial {
    display: flex;
    flex-direction: column;
    gap: 200px;
    justify-content: center;
 
  text-align: center;
  padding: 80px 20px;
  width: 100%;
  height: auto;
}

.divs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap; 
  width: 100%;
}

.div1, .div2, .div3{
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 100px;
  text-align: center;
  padding: 70px 30px 90px;
  background-color: #fabc05; 
  z-index: 1;
  overflow: visible;
}

.div4 {
      position: relative;
  width: 300px;
  height: 200px;
  border-radius: 100px;
  text-align: center;
  padding: 70px 30px 90px;
  background-color: #ff734f; 
  z-index: 1;
  overflow: visible;
  display: none;
}
.div2 { 
    background-color: #6384ff;
 }
.div3 {
     background-color: #3baa70; 
    }
   

 
.div1::before {
  content: "،،";
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 25px;
  font-size: 110px;
  color: white;
  background-color: #fabc05;
  width: 180px;
  height: 180px;
  border-radius: 100px 100px 50px 50px;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0; 
}
.div2::before{
    content: "،،";
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 25px;
  font-size: 110px;
  color: white;
  background-color: #6384ff;
  width: 180px;
  height: 180px;
  border-radius: 100px 100px 50px 50px;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0; 
}
.div3::before {
    content: "،،";
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 25px;
  font-size: 110px;
  color: white;
  background-color: #3baa70;
  width: 180px;
  height: 180px;
  border-radius: 100px 100px 50px 50px;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0; 
}
.div4::before{
     content: "،،";
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 25px;
  font-size: 110px;
  color: white;
  background-color: #ff734f;
  width: 180px;
  height: 180px;
  border-radius: 100px 100px 50px 50px;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.div1 .p, .div2 .p, .div3 .p,.div4 .p {
  width: 220px;
  min-height: 20px;
  color: white;
  text-align: center;
  line-height: 1.6;
  position: relative;
  z-index: 1; 
  margin: 0 auto;
   
}

.div1 h3, .div2 h3, .div3 h3,.div4 h3 {
  margin: 20px 0 5px;
  color: #6384ff;
  font-size: 25px;
}

.div1 h4, .div2 h4, .div3 h4 {
  font-weight: normal;
  color: black;
}

.divs span {
  height: 25px;
  display: inline-block;
  margin-block: 5px 15px;
  border: dashed 2px #6384ff;
}

#Circle {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#Circle div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 0 0 8px 5px #00000027;
  cursor: pointer;
}
.dash1{
position: relative;
top: 60px;
}

#Circle div:nth-of-type(1) { background-color: #1c76b9; }
#Circle div:nth-of-type(2) { background-color: white; }

.inputs{
    width: 950px;
  
}
.quoteform {

  display: grid;
  grid-template-columns:1fr 1fr;
  gap:30px;
  margin:50px ;

  
}

.quoteform input,
.quoteform textarea,
.quoteform button {
  width: 100%;
  padding: 15px;
  border-radius: 6px;
  
  
  
}
.quoteform input:nth-of-type(2),
.quoteform input:nth-of-type(4)
{
   
   width:100%;
}
.quoteform input,
.quoteform textarea{
border: solid 2px #646684;
height: 70px;

}
.quoteform input:focus,
.quoteform textarea:focus{
    outline: none;
border: solid 3px #fabc05;

}
.quoteform button{
    background-color: white;
    border: #6384ff solid 2px;
    height: 70px;
    color: #6384ff;
    font-size: x-large;
}
.quoteform button:hover{
    background-color: #6384ff;
    color: white;
    cursor: pointer;
}
.quoteform textarea{
    height: 100px;
}
.quoteform textarea,
.quoteform button {
  grid-column: 1 / -1;
}
.inputs h3{
    color: #6384ff;
    text-align: center;
    font-size: x-large;
    cursor: pointer;
}
.get{
    justify-items: center;
}
.get div:nth-of-type(1){
text-align: center;
margin-top: 100px;
}
.foot1{
    width: 100%;
    height: 300px;
    background-color: #fcfcfc;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:#323232 ;
}
.foot1 button{
    background-color: white;
    color:#6384ff;
    height: 40px;
    width: 140px;
    border: solid #6384ff 3px;
    border-radius: 3px;
    font-size: large;
 

}
.foot1 button:hover{
background-color: #6384ff;
color: white;
cursor: pointer;
}
footer{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
footer h3{
    font-size: x-large;
   
    cursor: pointer;
}
footer h3 i:nth-of-type(1):hover,
footer h3 i:nth-of-type(2):hover,
footer h3 i:nth-of-type(3):hover{
    color: #6384ff;
}
.get  #divider1{
text-align: start;
}
.top{
   
  position: fixed;
  bottom: 20px;
  right: 30px;
  background-color: #6384ff;

  width: 55px;
  height: 55px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 24px;
  z-index: 1000;
  border: none;
  cursor: pointer;
}
.top a{
      color: white;
}

