*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*nav-start */


nav{
background-color: rgba(59, 79, 152, 0.8);
    height: 100px;
    font-family: sans-serif;
    color: white;
    display: flex;
    flex-flow:row wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
}
#Seo{
    font-weight:800;
    width: 70px;
}
#content-nav{
    display: flex;
    gap: 10px;
}
nav img{
    width: 30px;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bolder;
    font-size: small;
}
nav a:hover{
    cursor: pointer;
    color: #9da7cb;
}
nav button{
    width: 190px;
    height: 45px;
    border: solid 2px white;
    background-color: #3b4f98;
    color: white;
    font-weight: bolder;
}
nav button:hover{
    background-color: white;
    color: #3b4f98;
    cursor: pointer;
    transition:  0.3s ease-in-out;
}
/*nav-end */

/*header-start */
header{
    height: 540px;
    background-color: #6384ff;
}

