*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
     font-family: "Archivo Black", sans-serif;
}

/*nav-start */


nav{
background-color: rgba(59, 79, 152, 0.8);
height: 100px;
font-family: sans-serif;
color: white;
display: flex;
justify-content: space-around;
align-items: center;
gap: 10px;
position: sticky;
top: 0;
z-index: 10;
}
#Seo{
    font-weight:800;
    width: 100px;
   
}
#content-nav{
  display: flex;
  justify-content: center;
  
}
nav img{
    width: 30px;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bolder;
    font-size: small;
    

}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav a:hover{
    cursor: pointer;
    color: #9da7cb;
}
nav button{
    width: 190px;
    height: 45px;
    border: solid 2px white;
    background-color: #344685d8;
    color: white;
    font-weight: bold;
    margin-left: 20px;
   
}
nav button:hover{
    background-color: white;
    color: #3b4f98;
    cursor: pointer;
    transition:  0.3s ease-in-out;
}


  
/*responsive-button */
.togglebutton{
    display: none;
}


.dropdown ul{
    padding: 0.7rem;
    position: absolute;
    right: 0px;
    left: 100px;
    top:100px;
    width: 300px;
    height: 250px;
    background-color: rgb(98, 114, 173);
    backdrop-filter: blur(15px);
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
     display: flex;
     overflow: hidden;
   justify-content: center;
   flex-direction: column;
    align-items: center;
    gap: 10px;
}
.dropdown{
    display: none;
}
.logo{
    display: block;
}
.dropdown button{
    width: 100px;
    display: flex;
    justify-content: center;
}
/*nav-end */

/*header-start */
header{
   height: 540px;
 
   display:grid;
   grid-template-columns: 1fr 1fr; 
   align-items: center; 
   gap: 20px; 
   grid-column: 1;
   color: white;
  background-color: #6384ff;

}
header img{
   width: 550px;
   margin-top: 80px;
   grid-column: 2;
   margin-left: 40px;
   position: relative;

  justify-self: center;



}
.text-contenar{
    position: relative;
    top: -250px;
    left: 150px;

}

.static-text{
   position: relative;
   top: -50px;
   left: 0px;
   font-size: 40px;
    
}
/*header-js */
#typing{
    font-size: 40px;
    display: inline;
    width: 30ch;
    animation: blink 0.9s step-end infinite;
    border-right: 4px solid white;
}
/*header-js-end */
/*header-animaion */
@keyframes blink {
    from, to {
        border-color: transparent;
    }

    50% {
            border-color: white;
        }
    }

    @keyframes blink {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}
/*header-animaion-end */
/*header-end */

/*section-start */

.sectionpar h1{
text-align: center;
font-size: 40px;
margin-top: 60px;
}
.search{
  width: auto;
    height: auto;
}
.sectionpar #divider1{
    display: inline-block;
  width: 150px;
  height: 3px;
  background:#1c76b9;
  margin-left: 700px;
}
 .serviceicon{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows:repeat(3, 200px) ;
    gap: 10px;
    margin-top: 80px;
    line-height: 60px;
    margin-left: 200px;
 }
.service1{
    text-align: center;
    width: 300px;
    color: #32325c;
    font-family: sans-serif;
    font-weight:100;  
    font-size: large;
    padding-left: 40px;
}
.service1 p{
    color: #2a2a2a;
    text-align: justify;
    line-height: 40px;
}
.aboutsearch{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: start;
    margin-left:100px ;
    font-weight: 100;

}
.aboutsearch img{
  width: 440px;
}
.aboutsearch button{
    color: #3b4f98;
    width: 100px;
    height: 40px;
    border: #1c76b9 solid 1px;
    background-color: white;
}
.aboutsearch button:hover{
    color: white;
    background-color: #1c76b9;
    
}
.aboutsearch h1{
    font-size: 40px;
    margin-bottom: 10px;

}
.textsearch{
   margin-left: 100px;
   width: 670px;
}
.textsearch p{
   margin-bottom: 60px;
   line-height: 40px;
 
}

.casasStudies{
    width: 400px;
    height: 300px;
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-left: 200px;
  margin-top: 40px;
}
.cover{
    color: white;
    font-family: sans-serif;
    font-size:large;
    position: absolute;
    top:100% ;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: width 0.5s ease; 
    cursor: pointer;  
      display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    flex-wrap: wrap;
    
  
}
.cover h4{
    color: #6384f3;
    font-size:20px ;
}
.boxs{
    overflow: hidden;
    position: relative;
    width: 370px;
    height: 280px;
   
}
.boxs:hover .cover{
    top:0 ;
}
.cover::before{
    content: "";
    position: absolute;
    top: 5%;
    left: 50%;
    width: 40%;
    height: 2px;
    background-color: white;
    transform: translateX(-50%);
    transition: top 1s ease;


}
.cover::after {
  content: "";
  position: absolute;
  bottom: 5%;           
  left: 50%;
  width: 40%;
  height: 2px;
  background: white;
  transition: bottom 1s ease;
  transform: translateX(-50%);

}
.boxs:hover .cover::before {
top: 30%;
}

.boxs:hover .cover::after{ 
  bottom: 25% ;
}
.casa{
    margin-top: 100px;
  
    height: 900px;
}
.casa h1{
    text-align: center;
    font-size: 50px;

}
#divider1{
    width: 230px;
    background-color: #1c76b9;
    height: 2px;
    margin-left: 650px;
    margin-top:50px ;
}
.PricingPlans{
    height: 900px;
    width: 80%;
    margin-left: 170px;
}

.plans{
  
    display: flex;
    justify-content: space-around;
    height: 620px;
    position: relative;
}
#yallow{
    background-color: #fabc05;
    height: 200px;
  
}

#blue{
    background-color: #6384ff;
    height: 200px;
     
}
#green{
    background-color: #3baa70;
    height: 200px;
   
}
.Circle{
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    position: relative;
    top: 100px;
    right: 70px;
    border: 8px solid rgba(206, 206, 206, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;

}
.cards1{
    width: 370px;
    border: solid 2px #fabc05;
    position: relative;
}
.cards1 i{
    color: #fabc05;
}
.cards1 ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    margin-top:20px ;
    position: relative;
    left: 30px;
    top: 80px;
}

.cards2{
 width: 370px;
 border: solid 3px #6384ff;
 position: relative;
}
.cards2 i{
    color: #6384ff;
}
.cards2 ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    margin-top:20px ;
    position: relative;
    left: 30px;
    top: 80px;
}

.cards3{
 width: 370px;
 border: solid 3px #3baa70;
 position: relative;
}
.cards3 i {
    color: #3baa70;
}

.cards3 ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    margin-top:20px ;
    position: relative;
    left: 30px;
    top: 80px;
}
.title{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards1 button{
width: 175px;
height: 50px;
border: solid 2px #fabc05;
}
.cards2 button{
width: 175px;
height: 50px;
border: solid 2px #6384ff;
}
.cards3 button{
width: 175px;
height: 50px;
border: solid 2px #3baa70;
}
.plans button{
    color: rgb(100, 97, 97);
    font-size: x-large;
    position: relative;
    top: 130px;
    left: 85px;

}
.plans .fa-xmark{
    color: rgb(55, 57, 58);
}
.plans h1{
    color:white;
    position: relative;
    left: 80px;
   bottom: 30px;
    
}
.cards1:hover .Circle ,
.cards1:hover button{
background-color: #fabc05;
color: white;
transition:  0.3s ease-in-out;
}
.cards2:hover .Circle ,
.cards2:hover button{
    background-color: #6384ff;
    color: white;
    transition:  0.3s ease-in-out;
    
}
.cards3:hover .Circle ,
.cards3:hover button{
    background-color: #3baa70;
    color: white;
    transition:  0.3s ease-in-out;
}
.cards1::before{
    content: "";
    width: 190px;
    height: 190px;
    position: absolute;
   transform: translateX(-50%);
   top: 165px;
   left: 300px;

    background-color:white;
    border-radius: 100px;
    
}
.cards1::after{
    content: "";
    width: 160px;
    height: 160px;
    background-color:aqua;
    position: absolute;
    left:-40px ;
    top: 110px;
    border-radius: 100px;
    
}
.cards2::before{
    content: "";
    width: 190px;
    height: 190px;
    position: absolute;
   transform: translateX(-50%);
   top: 165px;
   left: 300px;

    background-color:white;
    border-radius: 100px;
    
}.cards3::before{
    content: "";
    width: 190px;
    height: 190px;
    position: absolute;
   transform: translateX(-50%);
   top: 165px;
   left: 300px;

    background-color:white;
    border-radius: 100px;
    
}

.cards2::after{
    content: "";
    width: 160px;
    height: 160px;
    background-color:aqua;
    position: absolute;
    left:-40px ;
    top: 110px;
    border-radius: 100px;
    
}.cards3::after{
    content: "";
    width: 160px;
    height: 160px;
    background-color:aqua;
    position: absolute;
    left:-40px ;
    top: 110px;
    border-radius: 100px;
    
}

