*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
     font-family: "Archivo Black", sans-serif;
}

/*nav-start */


nav{
background-color: rgba(59, 79, 152, 0.8);
height: 100px;
font-family: sans-serif;
color: white;
display: flex;
justify-content: space-around;
align-items: center;
gap: 10px;
position: sticky;
top: 0;
}
#Seo{
    font-weight:800;
    width: 100px;
   
}
#content-nav{
  display: flex;
  justify-content: center;
  
}
nav img{
    width: 30px;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bolder;
    font-size: small;
    

}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav a:hover{
    cursor: pointer;
    color: #9da7cb;
}
nav button{
    width: 190px;
    height: 45px;
    border: solid 2px white;
    background-color: #344685d8;
    color: white;
    font-weight: bolder;
    margin-left: 20px;
   
}
nav button:hover{
    background-color: white;
    color: #3b4f98;
    cursor: pointer;
    transition:  0.3s ease-in-out;
}


  
/*responsive-button */
.togglebutton{
    display: none;
}


.dropdown ul{
    padding: 0.7rem;
    position: absolute;
    right: 0px;
    left: 100px;
    top:100px;
    width: 300px;
    height: 250px;
    background-color: rgb(98, 114, 173);
    backdrop-filter: blur(15px);
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
     display: flex;
     overflow: hidden;
   justify-content: center;
   flex-direction: column;
    align-items: center;
    gap: 10px;
}
.dropdown{
    display: none;
}
.logo{
    display: block;
}
.dropdown button{
    width: 100px;
    display: flex;
    justify-content: center;
}
/*nav-end */

/*header-start */
header{
   height: 540px;
 
   display:grid;
   grid-template-columns: 1fr 1fr; 
   align-items: center; 
   gap: 20px; 
   grid-column: 1;
   color: white;
  background-color: #6384ff;

}
header img{
   width: 550px;
   margin-top: 80px;
   grid-column: 2;
   margin-left: 40px;
   position: relative;

  justify-self: center;



}
.text-contenar{
    position: relative;
    top: -250px;
    left: 150px;

}

.static-text{
   position: relative;
   top: -50px;
   left: 0px;
   font-size: 40px;
    
}
/*header-js */
#typing{
    font-size: 40px;
    display: inline;
    width: 30ch;
     animation: blink 0.9s step-end infinite;
     border-right: 4px solid white;
}
/*header-js-end */
/*header-animaion */
@keyframes blink {
    from, to {
        border-color: transparent;
    }

    50% {
            border-color: white;
        }
    }

    @keyframes blink {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}
/*header-animaion-end */
/*header-end */

